.form{
  display: flex;
  flex-direction: column;
  >* { //Selector (star -> all) to select all direct children(i.e inputs here)
    margin-bottom: $m-size;
  }
}

.form__error{
  margin: 0 0 $m-size 0;
  font-style: italic;
}
